# History files importng 
LSF_data<- read.csv("C:/Users/chuka/Downloads/pub0818.csv")
View(LSF_data)
str(LSF_data)

# Removining unwanted columns
LSF_data2<-LSF_data[,-c(1,2,3,17,39,40,42,54,55,56)]
View(LSF_data2)

# Re-assigning data type and structure
LSF_data2$PROV <- as.factor(LSF_data2$PROV)
LSF_data2$CMA <- as.factor(LSF_data2$CMA)
LSF_data2$LFSSTAT <- as.factor(LSF_data2$LFSSTAT)
LSF_data2$SEX <- as.factor(LSF_data2$SEX)
LSF_data2$MARSTAT <- as.factor(LSF_data2$MARSTAT)
LSF_data2$EDUC <- as.factor(LSF_data2$EDUC)

# Initail analysis of Male vs Female highest level of educational qualification using ggplot
install.packages("ggplot2")
library(ggplot2)
ggplot(LSF_data2,aes(x = EDUC, fill = SEX)) + 
  theme_bw() + geom_bar()
